<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-icon slot="end" name="more" size="large" (click)="presentPopover($event)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar class="profile-pic">
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSCbbOwVWzHl9Ha1ET8HbS6rN6nffrbS4lFr8O-1xuq2jaQo1CL"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{user?.email}}</ion-card-subtitle>
      <ion-card-title>{{user?.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
